:root {
    --color-sidebar: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 2px solid yellow; */
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* border:2px solid yellow; */
}

body {
    background-image: url("images/background.jpg");
    background-size: cover;
}

.container {
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr;
    background-color: rgba(40, 115, 255, 0.226);
}

.header {
    /* grid-row: 1 / 2; */
    display:grid;
    grid-template-rows: 1fr 1.5fr;
    padding: 15px 30px;
    grid-row: 1 / 2;
    background-color: rgba(97, 184, 255, 0.247);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 10px;
}

.header-top {
    display:grid;
    grid-template-columns: 1fr 10fr 3fr 1.5fr 1.5fr;
    /* grid-template-rows: 1fr; */
    align-items: center;
}

.search-img {
    height: 20px;
    justify-self: center;
}

.search-img:hover {
    transform: scale(1.3);
}

.notification {
    height: 20px;
    justify-self: end;
}

.notification:hover {
    transform:scale(1.3);
}

.profile-img {
    height: 50px;
    justify-self: center;
}

.profile-img:hover {
    transform:scale(1.2);
}

.profile-text {
    font-size: 1.2rem;
    font-weight: 700;
}

.profile-text:hover {
    transform:scale(1.1);
}

.search {
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 18px;
    height: 45%;
    outline: none;
}

.search:hover {
    transform: scaleY(1.1);
}

.header-bottom {
    display: grid;
    grid-template-columns: .5fr 6fr 3fr;
}

.profile-img-2 {
    height: 80px;
    margin-left: 20px;
}

.greeting {
    align-self: center;
    text-align: start;
    margin-left: 5px;
}

.greeting-text {
    font-size: .8rem;
}

.username {
    font-size: 1.1rem;
    font-weight: bold;
}

.buttons {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 35px;
}

.header-button {
    height: 35px;
    width: 85px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgb(85, 162, 224);
    color: white;
    font-weight: bold;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display:grid;
    grid-template-rows: 1fr 3fr 7fr;
    /* background: linear-gradient(70deg, rgb(255, 241, 111), rgb(255, 184, 53)); */
    background: linear-gradient(70deg, rgba(188, 239, 255, 0.664), rgba(45, 167, 248, 0.678));
    gap: 30px;
    padding-left: 10%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 10px;;
}

.logo.side-item {
    display: grid;
    align-items: center;
    margin-top: 20px;
    margin-left: -10px;
}

.logo > img {
    height: 40px;
}

.logo-text {
    color: var(--color-sidebar);
    font-weight: 900;
    font-size: 1.7rem;
    margin-left: 10px;
}

.side-item {
    display:grid;
    grid-template-columns: 0fr 0fr;
    /* padding-top: 10px; */
    gap: 15px;
    padding-left: 5px;
    padding-top: 12px;
    align-items: center;
}

.side-item > .item-img {
    height: 25px;
    color: var(--color-sidebar);
}

.side-item > a{
    color: var(--color-sidebar);
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    align-self: center;
}

.side-item > a:hover {
    border-bottom: 3px solid white;
    transform: scale(1.05);
}

.main {
    background-color: rgba(146, 251, 255, 0.295);
    display:grid;
    grid-template-columns: 4fr 1fr;
    padding: 25px 20px;
    gap: 25px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.project-header-text, .section-name {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.projects {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.project-item {
    background-color: rgb(255, 242, 183);
    border-left: solid 10px rgb(27, 121, 209);
    border-radius: 12px;
    display:grid;
    padding: 20px 15px;
    grid-template-rows: .5fr 3fr 1fr;
    transition: .4s;
}

.project-item:hover {
    transform: scale(1.05);
    border-right: solid 4px rgb(27, 121, 209);
    border-top: solid 4px rgb(27, 121, 209);
    border-bottom: solid 4px rgb(27, 121, 209);
    background-color: rgb(255, 251, 218);
}

.calculator-project:hover {
    background: url("images/calculator2.png");
    background-size: 100%;
    background-position: 40% 15%;
    color:white;
}

.signup-project:hover {
    background: url("images/signup.png");
    background-size: 300%;
    background-position: 20% 75%;
}

.colourSketch-project:hover {
    background: url("images/coloursketch.png");
    background-size: 130%;
    background-position: 100% 60%;
    color: rgb(255, 255, 255);
}

.rps-project:hover {
    background: url("images/rps.png");
    background-size: 300%;
    background-position: 50% 10%;
    color:white;
}

.project-item-title {
    font-weight: bold;
}

.project-item-description {
    color: inherit;
}


.project-buttons {
    display:grid;
    justify-items: end;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    gap: 10px;
    /* display: flex;
    justify-content: end; */
    /* gap: 0; */
}

.project-item > .project-buttons img {
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    border-radius: 12px;
    /* border: 3px solid black; */
}

.project-buttons img:hover {
    transform: scale(1.2);
    background-color: yellow;
}



.right-bar {
    display:grid;
    grid-template-rows: 0fr 0fr;
    gap: 35px;
}

.section {
    display:grid;
    grid-template-rows: 0fr 0fr;
}

.section-content {
    background-color: white;
    border-radius: 14px;
    padding: 15px;
}

.announcements-content {
    display:grid;
    grid-template-rows: repeat(3, 0fr);
    gap: 10px
}

.announcement-name {
    font-weight: bold;
    font-size: .8rem;
}

.announcement-description {
    font-size: .7rem;
    color: rgb(122, 122, 122);
}

.announcement-1, 
.announcement-2 {
    padding-bottom: 10px;
    border-bottom: solid 2px rgb(190, 190, 190);
}

.trend {
    display: grid;
    grid-template-columns: 0fr 0fr;
    align-items: center;
}

.trend > img {
    height: 55px;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
}

.trend-name {
    font-size: .9rem;
}

.trend-description {
    font-size: .8rem;
    color: rgb(114, 114, 114)
}

.credit {
    position: absolute;
    bottom: 0;
    left: 43%;
}

